{% extends 'base.html' %}
{% block title%}Login{% endblock%}
{% block content %}

<div class="login"></div><!--fin login  -->   
<section>
    <form action="" method="POST">
      <label>Iniciar Sesión</label>
      <input class="input" type="text" name="" id="">
      <label>Password</label>
      <input class="input" type="password" name="" id="">
      <p>olvidaste tu Contraseña</p>
      <div class="check">
      <input type="checkbox" name="" id="">
      </div>
      <input class="inciar"  type="submit" value="Iniciar">
   </form>  
    


       
  </section>
{% endblock %}