{% extends 'base.html' %}
{% block title%}Login{% endblock%}
{% block content %}

   <section>
    <div class="login">
    <form action="{{ url_for('user') }}" method="POST">
      <h2 class="iniciar-sesion">Iniciar Sesión</h2>
      <input type="text" name="" id="">
      <label>Contraseña</label>
      <input type="password" name="" id="">
      <p>olvidaste tu Contraseña</p>
      <input type="submit" value="Iniciar">
      <input type="checkbox" name="" id="">
   </form>  
    


    </div><!--fin login  -->      
  </section>
{% endblock %}