/* Global Styles */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #ffffff;
    --dark-color: #343a40;
    --border-color: #00c2e7;
    --gray-light: #f4f4f4;
    --clases :#23ccc3;
    --clases-active:#16b7ab;
}

.container_category {
    justify-content: space-between;
    padding: 3rem;
}
 
h1{
    font-size: x-large;
    font-weight: bolder;
}

.data_categoty {
    gap: 1rem;
}
.clases_category .data_categoty svg {
    fill: var(--clases);
}
.data_categoty > .title{
    gap: 1rem;
    align-items: center;
}
.data_categoty p {
    font-size: larger;
}

.data_grade_category{
    gap: 0rem;
    color: var(--secondary-color);
}
.data_grade_category p{
    margin: 0px;
}

/* specialities_category */
.specialities_category {
    justify-content: space-around;
    gap: 3rem;
    padding: 2rem;
    background-color: var(--gray-light);
    border-radius: 10px;
    width: 70%;
    max-height: 560px;
    overflow: auto;
}
.specialities_category::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.specialities_category::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}

/* Handle */
.clases_category .specialities_category::-webkit-scrollbar-thumb {
    background: var(--clases);
    border-radius: 5px;
}

/* Handle on hover */
.specialities_category::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}

.speciality {
    width: 45%;
    align-items: end;
    height: 230px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.clases_category .speciality {
    background-color: var(--clases);
}

.title_speciality {
    width: 100%;
    background-color: var(--light-color);
    padding: 1rem;
    gap: 1rem;
}

.title_speciality hr {
    width: 100%;
    margin: auto;
    height: 3px;
    border-radius: 10px;
    border: none;
    opacity: 1;
}

hr.clases_br {
    background-color: var(--clases);
}


/* aside menu */

.menu_aside {
    height: 100%;
    gap: 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--clases);
}

.clases_category .menu_aside {
    background-color: var(--clases);
}

.menu_aside svg {
    fill: var(--light-color);
    max-width: 50px;
    max-height: 50px;
}

.aside_list {
    gap: 15px;
}

.aside_list li {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80px;
}

.aside_list li a {
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.clases_category .aside_list li a.active,
.clases_category .aside_list li a:hover {
    background-color: var(--clases-active);
}

.aside_list li a.active svg,
.aside_list li a:hover svg {
    fill: var(--light-color);
}